@import '../variables.css';

/* Sezione del Quiz */
.styled-quiz-section {
  background-color: var(--section-background-color); 
  color: var(--text-color);
  padding: var(--spacing-lg) 0;
  text-align: center;
}

.quiz-container {
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  font-size: 2.5rem;
  color: var(--highlight-color); /* Usa la nuova variabile */
}

.quiz-question-section {
  margin-top: var(--spacing-lg);
}

.quiz-question-text {
  font-size: 1.5rem;
  margin-bottom: var(--spacing-md);
}

.quiz-answer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-answer-section button {
  display: block;
  margin: var(--spacing-sm) 0;
  padding: var(--spacing-md) var(--spacing-md);
  background-color: var(--accent-color); /* Usa la nuova variabile */
  color: var(--text-color);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: var(--font-size-base);
  width: 70%;
  text-align: left;
}

.quiz-answer-section button.quiz-correct-answer {
  background-color: rgba(76, 175, 80, 0.5); 
}

.quiz-answer-section button.quiz-incorrect-answer {
  background-color: rgba(244, 67, 54, 0.5); 
}

.quiz-answer-section button:hover {
  opacity: 0.9;
}

.quiz-navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: var(--spacing-md);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.quiz-prev-button,
.quiz-next-button {
  padding: var(--spacing-sm) var(--spacing-md);
  background-color: var(--highlight-color); /* Usa la nuova variabile */
  color: #1a1a2e;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.quiz-prev-button:disabled,
.quiz-next-button:disabled {
  background-color: var(--disabled-color); /* Usa la nuova variabile */
}

.quiz-prev-button:hover:not(:disabled),
.quiz-next-button:hover:not(:disabled) {
  background-color: var(--hover-bg-color); /* Usa la nuova variabile */
}

.quiz-score-section {
  font-size: 1.8rem;
  color: var(--highlight-color); /* Usa la nuova variabile */
  margin-top: var(--spacing-lg);
}

.restart-quiz-button {
  padding: var(--spacing-sm) var(--spacing-md);
  margin-top: var(--spacing-lg);
  background-color: var(--accent-color); /* Usa la nuova variabile */
  color: var(--text-color);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  display: block;
  margin: var(--spacing-lg) auto;
}

.restart-quiz-button:hover {
  background-color: var(--accent-hover-color); /* Usa la nuova variabile */
}
