@import '../variables.css'; /* Importiamo le variabili */

/* Sezione BDD-TDD */
.bdd-tdd-section {
  background-color: var(--section-background-color2); /* Colore di sfondo dal file delle variabili */
  color: var(--text-color);
  padding: var(--spacing-lg) 0;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  font-size: 2.5rem;
  color: var(--hover-color); /* Usa il colore hover per i titoli */
}

/* Metodi (BDD e TDD) */
.methods {
  display: flex;
  justify-content: space-around;
  margin-top: var(--spacing-lg);
}

.method {
  width: 45%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: var(--spacing-md);
  border-radius: var(--border-radius);
  transition: transform 0.3s ease;
}

.method:hover {
  transform: scale(1.05);
}

.method h3 {
  font-size: 1.8rem;
  color: var(--hover-color); /* Colore del titolo dei metodi */
}

.method p {
  font-size: var(--font-size-base); /* Dimensione del testo base */
  color: #e0e0e0; /* Puoi aggiungere questa variabile se lo desideri */
}

.method img {
  width: 100px;
  margin-top: var(--spacing-md);
}

h4 {
  font-size: 1.4rem;
  margin-top: var(--spacing-md);
  color: var(--hover-color); /* Colore per i sottotitoli */
}

/* Stile per il blocco di codice */
.syntaxhighlighter {
  text-align: left;
  margin-top: var(--spacing-md);
  background-color: var(--black-100);
  padding: var(--spacing-md);
  border-radius: var(--border-radius);
  color: var(--text-color); /* Testo bianco */
}

code {
  font-family: 'Courier New', Courier, monospace;
}

h3, p, h4 {
  color: var(--hover-color); /* Colore per titoli e testi */
}
