@import '../variables.css'; /* Importa le variabili */

/* Sezione Community */
.community-section {
  background-color: var(--section-background-color2); /* Usa il colore di sfondo della sezione definito nelle variabili */
  color: var(--text-color);
  padding: var(--spacing-lg) 0;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  color: var(--hover-color); /* Usa il colore hover per i titoli */
}

p {
  font-size: 1.2rem;
  margin-bottom: var(--spacing-lg); /* Usa la spaziatura grande per il margine inferiore */
  color: #d1d1d1; /* Puoi creare una variabile per questo colore, se lo usi altrove */
}

/* Stile delle carte */
.community-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  background-color: var(--black-100); 
  padding: var(--spacing-md); /* Usa la spaziatura media */
  margin: var(--spacing-md); /* Usa la spaziatura media per i margini */
  border-radius: var(--border-radius); /* Usa il border radius definito nelle variabili */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.card h3 {
  font-size: 1.8rem;
  margin-bottom: var(--spacing-sm); /* Usa la spaziatura piccola per il margine inferiore */
}

.card p {
  font-size: var(--font-size-base); /* Usa la dimensione del testo base */
  color: var(--gray-100);
}

.card a {
  display: inline-block;
  margin-top: var(--spacing-sm); /* Usa la spaziatura piccola per il margine superiore */
  color: var(--accent-color);
  text-decoration: none;
  font-weight: bold;
}

.card a:hover {
  text-decoration: underline;
}

/* Sezione video */
.video-section {
  margin-top: var(--spacing-lg); /* Usa la spaziatura grande */
  text-align: center;
}

.video-section h3 {
  font-size: 1.8rem;
  color: var(--hover-color); /* Colore del titolo nella sezione video */
  margin-bottom: var(--spacing-md); /* Usa la spaziatura media per il margine inferiore */
}

.video-section iframe {
  border-radius: var(--border-radius); /* Usa il border radius dalle variabili */
  border: 2px solid var(--accent-color); 
}

/* Stile responsivo */
@media (max-width: 768px) {
  .community-cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
    margin-bottom: var(--spacing-md); /* Usa la spaziatura media per i margini inferiori */
  }
}
