@import '../variables.css'; /* Importa le variabili */

/* Sezione Automation */
.automation-section {
  background-color: var(--section-background-color); /* Usa il colore di sfondo definito */
  color: var(--text-color);
  padding: var(--spacing-lg) 0;
  text-align: center;
}

/* Stile per i contenitori del codice */
.code-box {
  background-color: #282852; /* Colore di sfondo specifico per i box di codice */
  padding: var(--spacing-md); /* Usa spaziatura media */
  margin: var(--spacing-md) auto;
  border-radius: var(--border-radius); /* Usa il border radius dalle variabili */
  text-align: left;
}

/* Stile per il codice */
.code-box pre {
  background-color: #333; /* Colore di sfondo per il codice */
  color: #ffb74d; /* Colore del testo per il codice */
  padding: var(--spacing-md);
  border-radius: var(--border-radius); /* Border radius coerente */
  font-size: 0.9rem; /* Dimensione font specifica per il codice */
  overflow-x: auto;
}

.code-description {
  margin-top: var(--spacing-sm);
  color: #e0e0e0;
  font-size: 0.9rem;
}

/* Stile per i dettagli del framework */
.framework-details {
  margin-top: var(--spacing-lg);
  text-align: left;
}

/* Stile per i pulsanti delle tab */
.tab-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: var(--spacing-lg); /* Usa la spaziatura grande */
}

.tab-button {
  font-family: var(--font-family-arial);
  background-color: var(--black-100); /* Colore di sfondo dei pulsanti */
  color: var(--text-color); /* Usa il colore del testo dalle variabili */
  border: none;
  padding: var(--spacing-sm) var(--spacing-md); /* Spaziatura personalizzata */
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 6px;
}

.tab-button:hover {
  background-color: #444; /* Colore di hover */
}

.tab-button.active {
  background-color: #ffb74d; /* Colore per il pulsante attivo */
  color: black;
}
