.code-box {
  background-color: #282852;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;/* Reduzi a largura para melhor visualização */
  text-align: left;
}

.code-box pre {
  background-color: #333;
  color: #ffb74d; 
  padding: 20px;
  border-radius: 8px;
  font-size: 0.9rem;
  overflow-x: auto;
}

.code-description {
  margin-top: 10px;
  color: #e0e0e0;
  font-size: 0.9rem;
}

.framework-details {
  margin-top: 40px;
  text-align: left;
}

.tab-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.tab-button {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 6px;
}

.tab-button:hover {
  background-color: #444;
}

.tab-button.active {
  background-color: #ffb74d;
  color: black;
}
