@import '../variables.css'; /* Importa le variabili */

.logout-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--white-100);
}

.logout-container h1 {
    font-size: 18px;
    color: var(--section-title-text-color);  
}

.logout-box{
    background-color: var(--text-color);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.logout-button {
    padding: 8px;
    background-color: var(--button-bg);
    color: white;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
}


