.logout-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5; 
}

.logout-container h1 {
    font-size: 18px;
    color: #f9a825;  
}

.logout-box{
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.logout-button {
    padding: 8px;
    background-color: #6c63ff;
    color: white;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
}


