@import '../variables.css'; /* Importiamo le variabili */

/* Sezione Testing */
.testing-section {
  background-color: var(--section-background-color); /* Colore di sfondo dal file delle variabili */
  color: var(--text-color);
  padding: var(--spacing-lg) 0;
  text-align: center;
}

.testing-section .container {
  max-width: 1200px;
  margin: 0 auto;
}

/* .testing-section h1, .testing-section h2 {
  font-size: 2.5rem;
  color: var(--hover-color);
  font-weight: 500;
  margin-bottom: var(--spacing-lg);
} */

.testing-section p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #e0e0e0; /* Puoi decidere di aggiungere anche questo come variabile */
}

/* Contenitore per le schede */
.card-container {
  display: flex;
  justify-content: space-around;
  margin-top: var(--spacing-lg);
}

.testing-card {
  background-color: #292959; /* Questo colore è unico, puoi decidere se aggiungerlo alle variabili */
  border-radius: var(--border-radius); /* Raggio del bordo dalle variabili */
  padding: var(--spacing-md);
  width: 250px;
  text-align: center;
  transition: transform 0.3s, background-color 0.3s;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.testing-card:hover {
  transform: translateY(-10px);
  background-color: #353575; /* Anche questo colore può diventare una variabile se vuoi */
}

.card-icon {
  width: 60px;
  margin-bottom: var(--spacing-md);
}

.testing-card h3 {
  margin-bottom: var(--spacing-md);
}

.testing-card p {
  font-size: var(--font-size-base); /* Dimensione del testo principale */
  color: #cfcfcf;
  text-align: center;
}

.extra-info p {
  text-align: left;
}

.expandable-section {
  margin-top: var(--spacing-lg);
}

/* Bottone personalizzato */
.toggle-button {
  background-color: var(--button-bg); /* Usa il colore di sfondo del bottone */
  color: var(--text-color);
  padding: var(--spacing-sm) var(--spacing-md);
  border: none;
  border-radius: var(--border-radius);
  font-size: var(--font-size-lg); /* Font più grande per il bottone */
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-button:hover {
  background-color: var(--button-hover-bg); /* Colore di hover per il bottone */
}

.extra-content {
  margin-top: var(--spacing-lg);
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Stili responsivi */
@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .testing-card {
    width: 90%;
    margin-bottom: var(--spacing-md);
  }
}
