@import '../variables.css'; /* Importa le variabili */

/* Contenitore principale della pagina */
.auth-page-box {
  width: 400px;
}

/* Bottone personalizzato */
.auth-page-button {
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.auth-page-button:hover {
  background-color: var(--accent-hover-color);
}

/* Gestione dell'icona "mostra/nascondi password" */
.auth-page-password-wrapper {
  position: relative;
}

.auth-page-eye-icon {
  width: 20px;
  height: 20px;
  background: url('https://cdn-icons-png.flaticon.com/512/159/159604.png') no-repeat center center;
  background-size: contain;
}

.auth-page-eye-icon.show {
  background: url('https://cdn-icons-png.flaticon.com/512/709/709612.png') no-repeat center center;
  background-size: contain;
}
